WORDPRESS_DEBUG=true
WORDPRESS_PORT=8080
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress
WORDPRESS_URL=https://wordpress.xcloner.local
WORDPRESS_TITLE='XCloner Testing'
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin
WORDPRESS_ADMIN_EMAIL=hello@watchful.net
WORDPRESS_SMTP_HOST=mailpit
WORDPRESS_SMTP_PORT=1025
WORDPRESS_SMTP_FROM=wordpress@xcloner.local
WORDPRESS_SMTP_FROM_NAME='XCloner Testing'
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025

XCLONER_GDRIVE_CLIENT_ID:
XCLONER_GDRIVE_REDIRECT_URL:
