node_modules/
xcloner-backup-and-restore/vendor/
/build/
php-scoper.phar
.idea/

docker-compose.override.yml

/xcloner-backup-and-restore-build/
/xcloner-backup-and-restore-svn/
/xcloner-backup-and-restore*.zip

.env
