/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


h1{
	font-size: 23px;
}

h2{
	font-size: 18px;
}

.input-field{
	margin-top: 0px;
}

td, th {
	padding-top: 0px !important;
}

.form-table th {
	padding-top: 10px !important;
}

a.nav-tab.col {
    padding: 10px;
}


span.shorten_string{
	cursor: pointer;
}

.card-panel{
	min-height: 60px;
}


.dashboard .additional_system_info{
	display: none;
}

.nav-tab-wrapper li{
	margin-bottom: 0px;
}

.nav-tab-wrapper-content .tab-content{
	display: none;
}

.nav-tab-wrapper-content .tab-content.active{
	display: block;
}

.input-field label.active {
	font-size: 1rem;
}

#error_modal textarea{
	height: 150px;
}

@media only screen and (min-width: 993px){
	.dashboard .backup-ready{
		float: right;
	}
}
