/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/* fallback */

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
  
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


h1{
	font-size: 23px;
}

h2{
	font-size: 18px;
}

.input-field{
	margin-top: 0px;
}

td, th {
	padding-top: 0px !important;
}

.form-table th {
	padding-top: 10px !important;
}

a.nav-tab.col {
    padding: 10px;
}


span.shorten_string{
	cursor: pointer;
}

.card-panel{
	min-height: 60px;
}


.dashboard .additional_system_info{
	display: none;
}

.nav-tab-wrapper li{
	margin-bottom: 0px;
}

.nav-tab-wrapper-content .tab-content{
	display: none;
}

.nav-tab-wrapper-content .tab-content.active{
	display: block;
}

.input-field label.active {
	font-size: 1rem;
}

.xcloner-debugger .console{
	height: 450px;
	min-height: 300px;
	overflow: auto;
}

#error_modal textarea{
	height: 150px;
}

#error_modal .msg{
	font-size: 14px;
}

#generate_backup .backup-status, #generate_backup ul.backup-status > li{
	display: none;
}

#generate_backup .status-body ul.backup-name li, #generate_backup ul.logged-databases  li{
	font-weight: bold;
}

#generate_backup .backup-done .collapsible-body {
	margin-top: 1.83rem;
}

#generate_backup .status-body > ul{
	margin: 5px 10px;
	max-height: 200px;
    overflow-y: auto;
	margin-top: 1.78rem;
}

#generate_backup .action-buttons .cancel, 
#generate_backup .action-buttons .restart{
	display: none;
} 

.modal-footer .modal-close.btn-flat{
	color: #fff;
}

.collapsible-body{
	padding: 0px 10px;
}

.select-wrapper+label {
    font-size: 1rem;
}

#schedule_backup .server-time h2{
	color: #fff;
}

#schedule_backup_success{
	display: none;
}

#scheduled_backups_wrapper .dataTables_length{
	display: none;
}

table#scheduled_backups{
	font-size: 16px;
}

#scheduled_backups td, #scheduled_backups th{
	padding-top: 8px !important;
}

textarea.materialize-textarea{
	overflow: auto;
	resize: auto;
}

@media only screen and (min-width: 993px){
	.dashboard .backup-ready{
		float: right;
	}
}
